@if($extra-small-vertical-align){
  @include generateVerticalAlign(false, $extra-small_max, $extra-small-flex-basis, $extra-small-prefix)
}
@if($small-vertical-align){
  @include generateVerticalAlign($small_min, $small_max, $small-flex-basis, $small-prefix)
}
@if($medium-vertical-align){
  @include generateVerticalAlign($medium_min, $medium-max, $medium-flex-basis, $medium-prefix)
}
@if($large-vertical-align){
  @include generateVerticalAlign($large_min, false, $large-flex-basis, $large-prefix)
}

.o-text-align-left{
  text-align: left;
}

.o-text-align-center{
  text-align: center;
}

.o-text-align-right{
  text-align: right;
}

.o-full-height{
  height: 100%;
}

.o-full-width{
  width: 100%;
}