.o-vertical-align-top{
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.o-vertical-align-bottom{
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.o-vertical-align-center{
  -webkit-align-self: center;
  align-self: center;
}

.o-vertical-align-baseline{
  -webkit-align-self: baseline;
  align-self: baseline;
}

.o-text-align-left{
  text-align: left;
}

.o-text-align-center{
  text-align: center;
}

.o-text-align-right{
  text-align: right;
}

.o-full-height{
  height: 100%;
}

.o-full-width{
  width: 100%;
}