.o-font-size{
  &-default{
    font-size: $default-font-size;
  }

  &-small{
    font-size: $font-size-small;
  }

  &-extra-small{
    font-size: $font-size-extra-small;
  }

  &-medium{
    font-size: $font-size-medium;
  }

  &-large{
    font-size: $font-size-large;
  }
}