.o-container.o-justify-content--space-around{
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.o-container.o-justify-content--center{
  justify-content: center;
  -webkit-justify-content: center;
}

.o-container.o-justify-content--space-between{
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.o-container.o-justify-content--flex-start{
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.o-container.o-justify-content--end{
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

//Generate Grid
@if ($extra-small-grid){
  @include
  generateGrid($grid-xs, $extra-small_padding, false, $extra-small_max, $extra-small-flex-basis, $extra-small-prefix);
}
@if ($small-grid){
  @include generateGrid($grid-sm, $small_padding, $small_min, $small_max, $small-flex-basis, $small-prefix);
}
@if ($medium-grid){
  @include generateGrid($grid-md, $medium_padding, $medium_min, $medium_max, $medium-flex-basis, $medium-prefix);
}
@if ($large-grid){
  @include generateGrid($grid-lg, $large_padding, $large_min, false, $large-flex-basis, $large-prefix);
}
@if ($none-grid){
  @include generateGrid($grid-none, $none_padding, false, $none-flex-basis, false);
}