
.o-container{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: $default-justify-content;
}

.o-container--column{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: $default-justify-content;
}

.o-container.o-justify-content--space-around{
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.o-container.o-justify-content--center{
  justify-content: center;
  -webkit-justify-content: center;
}

.o-container.o-justify-content--space-between{
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.o-container.o-justify-content--flex-start{
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.o-container.o-justify-content--end{
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

//Generate Grid
@if ($extra-small){
  @include generateGrid($grid-xs, $extra-small_padding, false, $extra-small_max, $extra-small-flex-basis, 'xs');
}
@if ($small){
  @include generateGrid($grid-sm, $small_padding, $small_min, $small_max, $small-flex-basis, 'sm');
}
@if ($medium){
  @include generateGrid($grid-md, $medium_padding, $medium_min, $medium_max, $medium-flex-basis, 'md');
}
@if ($large){
  @include generateGrid($grid-lg, $large_padding, $large_min, false, $large-flex-basis, 'lg');
}
@if ($none){
  @include generateGrid($grid-none, $none_padding, false, $none-flex-basis, false);
}