/*
General:
the word none has always the meaning: no-media-query
If you don't need a responsive CSS set only all none variables to true.
*/

$default-justify-content: space-around;

/*
If you need a grid for specific viewports:
xs devices -> smartphones
small devices -> tablets
medium devices -> notebooks
large devices -> PC
set these options to true.
Will be used to generate .o-grid-[number]@prefix css
You can specify also breakpoints, if you want.
*/
$extra-small-grid: true;
$small-grid: true;
$medium-grid: true;
$large-grid: true;
/*
If you don't need a grid system for different viewport.
Only set none-grid to true
*/
$none-grid: false;

/*
Set the min and max width for each viewport.
Will use in all media-queries
*/
$small_min          : 768px;
$medium_min         : 992px;
$large_min          : 1200px;

/*
Set the maximal available flexbox width for each viewport
*/
$grid-xs: 4;
$grid-sm: 6;
$grid-md: 12;
$grid-lg: 24;
$grid-none: 12;

$extra-small-prefix: "xs";
$small-prefix: "sm";
$medium-prefix: "md";
$large-prefix: "lg";

$extra-small-flex-basis: true;
$small-flex-basis: false;
$medium-flex-basis: false;
$large-flex-basis: false;
$none-flex-basis: false;


/*
Configure extra vertical align css for each viewport.
Available via .o-vertical-align-[bottom|top|center|baseline]@prefix
*/
$extra-small-vertical-align: true;
$small-vertical-align: true;
$medium-vertical-align: true;
$large-vertical-align: true;
$none-vertical-align: false;
/*
If you only need a general vertical align
set this option to true and set the other to false.
*/
$none-vertical-align: false;



/*
Configure extra text-align css for each viewport.
Available via .o-text-align-[left|right|center]@prefix
 */
$extra-small-text-align: true;
$small-text-align: true;
$medium-text-align: true;
$large-text-align: true;
//Available via .o-text-align-[left|right|center]
$none-text-align: false;



$extra-small_padding  : 5;
$small_padding        : 10;
$medium_padding       : 15;
$large_padding        : 20;
$none_padding         : 0;

//Set the padding type. e.g. em, px, pt
$padding-type: px;

/*
Wrapper Settings
Multiplier will be used to calculate the wrapper padding
e.g multiplier is 2 so the wrapper padding is 2*padding+padding-type
*/
$extra-small-wrapper-padding-multiplier: 1;
$small-wrapper-padding-multiplier: 1;
$medium-wrapper-padding-multiplier: 1;
$large-wrapper-padding-multiplier: 2;
$none-wrapper-padding-multiplier: 1;

$wrapper-max-width: 1100px;

/*
Set vertical-offset for different viewports
*/
$extra-small-voffset: true;
$small-voffset: true;
$medium-voffset: true;
$large-voffset: true;
$none-voffset: false;

/*
Set vertical-paddings for different viewports
*/
$extra-small-vpadding: true;
$small-vpadding: true;
$medium-vpadding: true;
$large-vpadding: true;
$none-vpadding: false;

$extra-small-visibility: true;
$small-visibility: true;
$medium-visibility: true;
$large-visibility: true;


/*
Choose how many vertical offset multiplier you need.
The calculation rule is: padding*multiplier
e.g. 4 will generate:
.o-voffset-1 margin-top = 1*padding
.o-voffset-2 margin-top = 2*padding
.o-voffset-3 margin-top = 3*padding
.o-voffset-4 margin-top = 4*padding
*/
$extra-small-offset-multiplier: 4;
$small-offset-multiplier: 4;
$medium-offset-multiplier: 4;
$large-offset-multiplier: 4;
$none-offset-multiplier: 4;

/*Same as vertical offset multiplier*/
$extra-small-padding-multiplier: 4;
$small-padding-multiplier: 4;
$medium-padding-multiplier: 4;
$large-padding-multiplier: 6;
$none-padding-multiplier: 4;


/*
Define your colors. Will be used in buttons, background etc.
light, lighter, dark, darker will be used to gradients
*/
$brand-color:           #67A5CA;
$brand-dark-color:      #608398;
$brand-darker-color:    #215F83;
$brand-light-color:     #91C5E4;
$brand-lighter-color:   #A7CEE4;
$success-color:         #66D39C;
$success-dark-color:    #619F7F;
$success-darker-color:  #218954;
$success-light-color:   #8EE9BB;
$success-lighter-color: #A7E9C7;
$warn-color:            #FFDC7B;
$warn-dark-color:       #BFAB75;
$warn-darker-color:     #A68428;
$warn-light-color:      #FFE59C;
$warn-lighter-color:    #FFECB6;
$danger-color:          #FF9A7B;
$danger-dark-color:     #BF8775;
$danger-darker-color:   #A64628;
$danger-light-color:    #FFB49C;
$danger-lighter-color:  #FFC8B6;
$grey-darker:           #454545;
$grey-dark:             lighten(#323234, 10%);
$grey:                  lighten(#323234, 20%);
$grey-light:            lighten(#323234, 30%);
$grey-lighter:          lighten(#323234, 40%);

$bright-lighter:  #fff;
$bright-light:    darken($bright-lighter, 5%);
$bright:          darken($bright-lighter, 15%);
$bright-dark:     darken($bright-lighter, 20%);
$bright-darker:   darken($bright-lighter, 25%);


/*Font Configurations*/
$headline-color: $grey-darker;
$headline-margin-bottom: 5px;
$headline-font-family: 'NewslabLight';
$headline-font-weight: normal;

$h1-size: 34px;
$h2-size: 30px;
$h3-size: 26px;
$h4-size: 22px;
$h5-size: 1.1rem;
$h6-size: 14px;

$default-font-family: Arial;
$default-font-color: $grey-darker;

$font-size-extra-small: 10px;
$font-size-small: 12px;
$default-font-size: 14px;
$font-size-medium: 1.8rem;
$font-size-large: 2.5rem;
$font-size-extra-large: 4rem;
$font-size-huge: 6rem;


$bold-font-family: Arial;
$bold-font-weight: bolder;

