.c-button{
  border-right: 0;
  border-radius: 3px;
  border-left: 0;
  border-top: 0;
  text-align: center;
  padding: #{$extra-small-padding/2+$padding-type} #{$extra-small-padding+$padding-type};
  margin-right: #{$extra-small-padding/2+$padding-type};

  &:hover{
    cursor: pointer;
  }

  &--full-width{
    width: 100%;
    height: 100%;
  }

  &--big{
    width: 195px;
    padding: 10px;
    font-size: 20px;
  }

  &--grey{
    color: $bright-lighter;
    background: $grey-light;
    border-bottom: 2px solid $grey;
  }

  &--brand{
    color: $bright-lighter;
    background: $brand-color;
    border-bottom: 2px solid $brand-darker-color;
  }

  &--success{
    background: $success-color;
    border-bottom: 2px solid $success-darker-color;
  }

  &--warn{
    background: $warn-color;
    border-bottom: 2px solid $warn-darker-color;
  }

 &--danger{
   background: $danger-color;
   border-bottom: 2px solid $danger-darker-color;
 }
}