.c-button{
  border-right: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border-left: 0;
  border-top: 0;
  padding: #{$extra-small-padding/2+$padding-type} #{$extra-small-padding+$padding-type};

  &--grey{
    color: $bright-lighter;
    background: $grey-light;
    border-bottom: 2px solid $grey;
  }

  &--brand{
    background: $brand-color;
    border-bottom: 2px solid $brand-darker-color;
  }

  &--success{
    background: $success-color;
    border-bottom: 2px solid $success-darker-color;
  }

  &--warn{
    background: $warn-color;
    border-bottom: 2px solid $warn-darker-color;
  }

 &--danger{
   background: $danger-color;
   border-bottom: 2px solid $danger-darker-color;
 }
}