.c-filter-block{
  &__item{
    background: $bright-dark;
    margin: $extra-small_padding + $padding-type;
    padding: $extra-small_padding + $padding-type;
    border-radius: 3px;
    text-align: center;
    color: $grey-darker;
  }
}