[icon-plus]{
  background-image: url("img/svg/plus.svg");
}

[icon-bubble_txt]{
  background-image: url("img/svg/bubble-txt.svg");;
}

[icon-heart]{
  background-image: url("img/svg/heart.svg");
}

icon-small{
  height: 23px;
  width: 23px;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block
}