.c-navigation-bar {
  padding: 0.4rem 0;

  &--no-display{
    display: none;
  }

  &__inner{
    margin: auto;
  }

  &__link{
    color: $grey-darker;
  }

  &__link:hover {
    cursor: pointer;
  }

  &__element{
    padding: 0 2rem;
  }
}