.c-navigation-bar {
  background: $grey-darker;
  padding: 0.4rem 0;

  &__inner{
    margin: auto;
  }

  &__link{
    color: $bright-lighter;
  }

  &__link:hover {
    cursor: pointer;
  }

  &__element{
    padding: 0 3rem;
  }
}