@font-face {
  font-family: 'AddingtonBold';
  src: url('/fonts/addington/AddingtonCF-Bold.eot');
  src: url('/fonts/addington/AddingtonCF-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/addington/AddingtonCF-Bold.woff2') format('woff2'),
    url('/fonts/addington/AddingtonCF-Bold.woff') format('woff')
}

@font-face {
  font-family: 'AddingtonBoldItalic';
  src: url('/fonts/addington/AddingtonCF-BoldItalic.eot');
  src: url('/fonts/addington/AddingtonCF-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/addington/AddingtonCF-BoldItalic.woff2') format('woff2'),
  url('/fonts/addington/AddingtonCF-BoldItalic.woff') format('woff')
}

@font-face {
  font-family: 'AddingtonDemiBold';
  src: url('/fonts/addington/AddingtonCF-DemiBold.eot');
  src: url('/fonts/addington/AddingtonCF-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/addington/AddingtonCF-DemiBold.woff2') format('woff2'),
  url('/fonts/addington/AddingtonCF-DemiBold.woff') format('woff')
}

@font-face {
  font-family: 'AddingtonRegular';
  src: url('/fonts/addington/AddingtonCF-Regular.eot');
  src: url('/fonts/addington/AddingtonCF-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/addington/AddingtonCF-Regular.woff2') format('woff2'),
  url('/fonts/addington/AddingtonCF-Regular.woff') format('woff')
}

@font-face {
  font-family: 'AddingtonRegularItalic';
  src: url('/fonts/addington/AddingtonCF-RegularItalic.eot');
  src: url('/fonts/addington/AddingtonCF-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/addington/AddingtonCF-RegularItalic.woff2') format('woff2'),
  url('/fonts/addington/AddingtonCF-RegularItalic.woff') format('woff')
}

@font-face {
  font-family: 'Visby CF';
  src: url('/fonts/Visby/VisbyCF-Regular.eot');
  src: url('/fonts/Visby/VisbyCF-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Visby/VisbyCF-Regular.woff2') format('woff2'),
  url('/fonts/Visby/VisbyCF-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Stint Pro Book';
  src: url('/fonts/stintpro/Stint-Pro-Book.woff2') format('woff2'),
  url('/fonts/stintpro/Stint-Pro-Book.woff') format('woff')
}

@font-face {
  font-family: 'NewslabLight';
  src: url('/fonts/newslab/NewslabLight.woff2') format('woff2'),
  url('/fonts/newslab/NewslabLight.woff') format('woff')
}

@font-face {
  font-family: 'NewslabBold';
  src: url('/fonts/newslab/NewslabBold.woff2') format('woff2'),
  url('/fonts/newslab/NewslabBold.woff') format('woff')
}
