@mixin getWrapperWithPadding($wrapper_padding){
  .o-wrapper{
    margin: 0 auto;
    padding: 0 $wrapper_padding;
  }
}

@mixin getGridCSSForPrefix($prefix, $grid_number, $padding, $use-flex-basis){
  @for $i from 1 through $grid_number{
    @if($use-flex-basis){
      .o-flex-basis-#{($i/$grid_number)*100}\@#{$prefix}{
        flex-basis: ($i/$grid_number)*100%;
      }
    }

    .o-grid-#{$i}\@#{$prefix}{
      flex: $i;

      padding-right: $padding+$padding-type;
      padding-left: $padding+$padding-type;
    }
  }
}

@mixin getGridCSSWithoutPrefix($grid_number, $padding, $use-flex-basis){
  @for $i from 1 through $grid_number{
    @if($use-flex-basis){
      .o-flex-basis-#{($i/$grid_number)*100}{
        flex-basis: ($i/$grid_number)*100%;
      }
    }

    .o-grid-#{$i}{
      flex: $i;

      padding-right: $padding+$padding-type;
      padding-left: $padding+$padding-type;
    }
  }
}

@mixin getContainerForPrefix($prefix){
  .o-container\@#{$prefix}{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: $default-justify-content;
  }

  .o-container--column\@#{$prefix}{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: $default-justify-content;
  }
}

@mixin getContainerWithoutPrefix(){
  .o-container{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: $default-justify-content;
  }

  .o-container--column{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: $default-justify-content;
  }
}

@mixin generateGrid($grid_number, $padding, $wrapper-multiplier, $min_width: false, $max_width: false, $use-flex-basis: false, $prefix: false){
  @if (type-of($min_width) == 'bool'){
    @if(type-of($max_width) == 'bool'){
      @include getContainerWithoutPrefix();
      @include getGridCSSWithoutPrefix($grid_number, $padding, $use-flex-basis)
    }
    @else{
      @media (max-width: $max_width){
        @include getWrapperWithPadding($padding*$wrapper-multiplier+$padding-type);
        @include getContainerForPrefix($prefix);
        @include getGridCSSForPrefix($prefix, $grid_number, $padding, $use-flex-basis)
      }
    }
  }
  @else if (type-of($max_width) == 'bool'){
    @media (min-width: $min_width){
      @include getWrapperWithPadding($padding*$wrapper-multiplier+$padding-type);
      @include getContainerForPrefix($prefix);
      @include getGridCSSForPrefix($prefix, $grid_number, $padding, $use-flex-basis)
    }
  }
  @else if (type-of($min_width) == 'number' and type_of($max_width) == 'number'){
    @media (min-width: $min_width) and (max-width: $max_width){
      @include getWrapperWithPadding($padding*$wrapper-multiplier+$padding-type);
      @include getContainerForPrefix($prefix);
      @include getGridCSSForPrefix($prefix, $grid_number, $padding, $use-flex-basis)
    }
  }
}