@mixin getTextAlignWithPrefix($prefix){
  .o-text-align-left\@#{$prefix}{
    text-align: left;
  }

  .o-text-align-center\@#{$prefix}{
    text-align: center;
  }

  .o-text-align-right\@#{$prefix}{
    text-align: right;
  }
}

@mixin getTextAlignWithoutPrefix(){
  .o-text-align-left{
    text-align: left;
  }

  .o-text-align-center{
    text-align: center;
  }

  .o-text-align-right{
    text-align: right;
  }
}

@mixin generateTextAlign($min_width: false, $max_width: false, $prefix: false){
  @if (type-of($min_width) == 'bool'){
    @if(type-of($max_width) == 'bool'){
      @include getTextAlignWithoutPrefix()
    }
    @else{
      @media (max-width: $max_width){
        @include getTextAlignWithPrefix($prefix)
      }
    }
  }
  @else if (type-of($max_width) == 'bool'){
    @media (min-width: $min_width){
      @include getTextAlignWithPrefix($prefix)
    }
  }
  @else if (type-of($min_width) == 'number' and type_of($max_width) == 'number'){
      @media (min-width: $min_width) and (max-width: $max_width){
        @include getTextAlignWithPrefix($prefix)
      }
  }
}