@mixin getVerticalOffsetForPrefix($prefix, $number, $base_padding, $type){
  .o-voffset-zero\@#{$prefix}{
    margin-top: 0;
  }

  @for $i from 1 through $number{
    .o-voffset-top-#{$i}\@#{$prefix}{
      margin-top: ($i*$base_padding)+$type;
    }

    .o-voffset-bottom-#{$i}\@#{$prefix}{
      margin-top: ($i*$base_padding)+$type;
    }
  }
}

@mixin getVerticalOffsetWithoutPrefix($number, $base_padding, $type){
  .o-voffset-zero{
    margin-top: 0;
  }

  @for $i from 1 through $number{
    .o-voffset-top-#{$i}{
      margin-top: ($i*$base_padding)+$type;
    }

    .o-voffset-bottom-#{$i}{
      margin-top: ($i*$base_padding)+$type;
    }
  }
}

@mixin generateVerticalOffset($number, $base_padding, $type, $prefix: false, $min-width: false, $max-width: false, $none:false){
  @if (type-of($min_width) == 'bool'){
    @if($none){
      @include getVerticalOffsetWithoutPrefix($number, $base_padding, $type)
    }
    @else{
        @include getVerticalOffsetForPrefix($prefix, $number, $base_padding, $type)
    }
  }
  @else if (type-of($max_width) == 'bool'){
    @media (min-width: $min_width){
      @include getVerticalOffsetForPrefix($prefix, $number, $base_padding, $type)
    }
  }
  @else if (type-of($min_width) == 'number' and type_of($max_width) == 'number'){
    @media (min-width: $min_width) and (max-width: $max_width){
      @include getVerticalOffsetForPrefix($prefix, $number, $base_padding, $type)
    }
  }
}